
html
  overflow: none
  height: 100%

body
  height: 100%
  font-family: "Oswald"
  background-color:#000
#wrapper
  height: 100%
  padding-left: 0
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease

#menu
  background:#000
  z-index: 1000
  position: fixed

/* Toggle Styles
.container
  width:auto !important

.section
  height: 100%
  padding-left: 0

.invisible
  display: none

.navbar-toggle
  color:white

.fa-angle-right
  color:#fff

.nav-collapse .collapsing
  position:static

#myGalleryCarousel .carousel-inner
  overflow: initial
  position: relative
  left: 50%
  margin-left: -750px
  width: 1600px

#myGalleryCarousel img
  display:block
  margin: 2px auto
  max-width: 100%
  height: 100vh

#myCarousel .carousel-inner
  width: 1600px
  position: relative
  left: 50%
  margin-left: -750px
  overflow: initial

#myCarousel img
  display:block
  margin: 2px auto
  max-width: 100%
  height: 100vh

#photos .indicator
  position: absolute
  transform: translate(0, -200px)

.media-carousel
  margin-bottom: 0
  padding: 0 40px 30px 40px
  margin-top: 30px
  width: 80%
  .carousel-control
    &.left
      left: -12px
      background-image: none
      background: none repeat scroll 0 0 #222222
      border: 4px solid #FFFFFF
      border-radius: 23px 23px 23px 23px
      height: 40px
      width: 40px
      margin-top: 30px
    &.right
      right: -12px !important
      background-image: none
      background: none repeat scroll 0 0 #222222
      border: 4px solid #FFFFFF
      border-radius: 23px 23px 23px 23px
      height: 40px
      width: 40px
      margin-top: 30px
  .carousel-indicators
    right: 50%
    top: auto
    bottom: 0px
    margin-right: -19px
    li
      background: #c0c0c0
    .active
      background: #333333
  img
    width: 250px
    height: 120px
  .thumbnail
    background-color: transparent
    border: 0
    border-radius: 25px
  .col-md-3
    width: 250px

@media screen and (min-width: 600px)
  .navbar-toggle
    display: none
  #menu
    height: 100%
    width: 250px
  .carousel-text
   position: absolute
  .sidebar-nav
    position: absolute
    top: 0
    width: 250px
    margin: 0
    padding: 0
    list-style: none

    li
      text-indent: 20px
      line-height: 40px
      font-size: 25px

      a
        display: block
        text-decoration: none
        color: #999999

        &:hover
          text-decoration: none
          color: #fff
          background: rgba(255, 255, 255, 0.2)

        &:active, &:focus
          text-decoration: none

    > .sidebar-brand
      height: 65px
      font-size: 30px
      line-height: 60px

      a
        color: #999999

        &:hover
          color: #fff
          background: none

@media screen and (max-width: 599px)
  .navbar-toggle
    width: 50px
    height: 200px
  #menu
    width: 100%
    height: auto
    background-color: rgba(255,0,0,0)
    position: relative
    z-index: 2000

  #wrapper
    position: relative
  #myGalleryCarousel
    position: fixed
    width: 100%
    z-index: 1000
    height: 500px

  #myGalleryCarousel .carousel-inner
    width: 100%
    margin-left: -350px
    height: 100%

  #myGalleryCarousel img
    height: 400px
    min-width: 600px

  #myCarousel .carousel-inner
    width: 100%
    margin-left: -350px
    height: 100%

  #myCarousel img
    height: 400px
    min-width: 600px
  /* Sidebar Styles
  .sidebar-nav
    top: 50px
    margin: 0
    padding: 0
    list-style: none

    li
      text-indent: 20px
      line-height: 40px
      font-size: 25px
      text-align: center

      a
        display: block
        text-decoration: none
        color: #999999

        &:hover
          text-decoration: none
          color: #fff
          background: rgba(255, 255, 255, 0.2)

        &:active, &:focus
          text-decoration: none

    > .sidebar-brand
      height: 65px
      font-size: 30px
      line-height: 60px

      a
        color: #999999

        &:hover
          color: #fff
          background: none
  #photos .carousel-inner
    overflow: initial
  #photos .indicator
    position: relative
    transform: translate(0,500px)
  #photos .indicator .carousel .left
    display: none
  #photos .indicator .carousel .right
    display: none

.carousel, .item, .active, .carousel-inner
  height: 100%

#wrapper
    max-width: 100%
    margin: 0 auto
    overflow:hidden


footer
  margin: 50px 0

.carousel-text
  bottom: 20px
  z-index: 1000
  width: 30%
  padding-left: 0
  margin-bottom: 15px
  text-align: center
  list-style: none
  color: #fff
  left: 10px
  font-family: "Oswald"
  letter-spacing: 0.2em

h1
  font-size: 5em

.resume
  border: 1px solid black

.top-buffer
  margin-top: 60px
